/* desktop */
body {
    background-color: white;
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0;
}

main {
    padding: 30px 50px;
}

/* Navigation styles */
.nav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 50px;
    background-color: white;
}

.nav .menu_item {
    padding: 15px 30px 15px 0px;
    display: block;
    float: left;
}

.nav .burger_icon {
    Display: none;
    float: right;
    padding: 15px 80px 15px 0px;
    cursor: pointer;
}

/* .fa-bars {
    padding-right: 10px;
    color: black;
    font-size: 18px;
} */

.nav .project_nav {
    float: right;
    padding: 15px 80px 15px 0px;
}

.fa-angle-left {
    padding-right: 10px;
    color: #585858;
}

.fa-angle-right {
    padding-left: 10px;
    color: #585858;
}

.nav a {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    color: black;
    text-decoration: none;
    padding: 15px 30px 15px 0px;

}

.nav a:hover,
.nav a:active {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    color: purple;
    text-decoration: none;
}


/* Type styles */
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    color: black;
    margin-bottom: 10px;
}

.intro p {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
    color: black;
    padding: 30px 0px;
    width: 730px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
    color: black;
    padding-top: 30px;
    margin-bottom: 10px;
}

/* Project containers */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.projects .thumb_nail {
    margin: 0px 25px 25px 0px;
    width: 630px;
    height: 450px;
    background-color: #578063;
    /* position: relative; */
}

.forage-notes .thumb_nail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forage-notes .thumb_nail img {
    width: 80%;
    height: auto;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
}

.thumb_nail img {
    width: 100%;
    height: 100%;
}

.internal_layout {
    display: flex;
}

.project_images {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding-top: 67px;
}

.project_copy {
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    padding-left: 50px;
    max-width: 350px;
}

.project_images img {
    /* display: inline-block; */
    max-width: 850px;
    padding-bottom: 15px;
}

.about_copy {
    display: inline-block;
    margin-top: 30px;
    max-width: 350px;
}

/* Footer Styles */

footer {
    display: block;
    width: 100%;
    margin-top: 50px;
}

footer a {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

footer a:hover,
footer a:active {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    color: purple;
    text-decoration: none;
}

/* tablet */

@media only screen and (max-width: 768px) {
    main {
        padding: 30px 30px;
    }

    .intro p {
        width: 100%;
    }

    .project_copy {
        display: inline-block;
        padding-left: 0px;
        max-width: 100%;
    }

    .projects .thumb_nail {
        margin: 0px 25px 25px 0px;
        width: 300px;
        height: 225px;
    }

    .project_images img {
        width: 600px;
    }

    .project_images {
        padding-top: 30px;
    }

    .internal_layout {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav .burger_icon {
        display: block; // Typo was a capital
        float: left;
        padding: 15px 0px 15px 0px;
    }

    .nav {
        padding-left: 30px;
    }

    .nav .menu_item {
        display: none;
    }

    .nav a {
        font-size: 0;
    }

    .nav a i {
        font-size: 20px;
    }

    .hamburger {
        margin-top: 20px;
        width: 20px;
        height: 2px;
        background-color: #585858;
        position: relative;
        display: block;
        transition: background-color .2s ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        width: 20px;
        height: 2px;
        content: '';
        background-color: #585858;
        position: absolute;
        transition: transform .2s ease-in-out;
    }

    .hamburger::before {
        top: -5px;
    }

    .hamburger::after {
        bottom: -5px;
    }

    .active .hamburger {
        background-color: white;
    }

    .active .hamburger::before {
        transform: rotate(45deg);
        top: 0;
    }

    .active .hamburger::after {
        transform: rotate(-45deg);
        top: 0;
    }

    .submenu {
        display: none;
    }
    
    .submenu a {
        font-size: 20px; // this is to override the .nav a font-size: 0
    }
    
    .submenu a:hover {
        font-size: 20px !important; // This is also to override the font-size: 0
    }
    
    .active .submenu {
        display: block;
        height: 100vh; // This is 100% of the view port height
    }
    
    // Below is a common override to stop unordered lists having a list style and padding left
    ul {
        list-style: none;
        padding-left: 0;
    }



    .nav .project_nav {
        float: right;
        padding: 25px 30px 15px 0px;
    }

    .nav .project_nav a {
        padding: 0px 30px 0px 0px;
    }

    .fa-angle-left {
        padding-right: 0px;
    }

    .nav a:hover {
        font-size: 0;
    }

    .nav a:hover i {
        color: purple;
    }
}



/* mobile */

@media only screen and (max-width: 400px) {

    .intro p {
        width: 100%;
    }

    .projects .thumb_nail {
        margin: 0px 25px 25px 0px;
        width: 340px;
        height: 265px;
    }

    .project_images img {
        width: 340px;
    }

}
